telebot
python-dotenv
asyncio
websockets
fastapi
uvicorn
faiss-cpu
langchain_community
langchain_gigachat
langchain_huggingface
sentence-transformers
schedule
pytz
transformers==4.29.2
sentence-transformers==2.2.2
accelerate
