fastapi
uvicorn
gigachain
faiss-cpu
sentence-transformers
gigachat
langchain
langchain_gigachat
langchain_community
langchain-core
langchain_huggingface
huggingface-hub
websockets
python-dotenv
pydantic
requests
pyTelegramBotAPI
pypdf
