fastapi
gigachain
faiss-cpu
sentence-transformers
gigachat
langchain
langchain_gigachat
langchain_community
langchain-core
langchain_huggingface
huggingface-hub
websockets
uvicorn
telebot
python-dotenv
pydantic
requests
pyTelegramBotAPI
PyPDF2
pypdf